<section id="hero">
  <nav class="menu menu__container" id="menu">
    <h1 class="menu__logo">Dario's<br />Barbershop</h1>

    <ul class="menu__links">
      <li class="menu__item">
        <a href="#sobre-nosotros" class="menu__link">Sobre nosotros</a>
      </li>
      <li class="menu__item">
        <a href="#servicios" class="menu__link">Servicios</a>
      </li>
      <li class="menu__item">
        <a href="#productos" class="menu__link">Productos</a>
      </li>
      <li class="menu__item">
        <a href="#contactanos" class="menu__link">Contáctanos</a>
      </li>
    </ul>

    <a href="#menu" class="openBtn">
      <svg
        class="menu__icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path d="M4 6h16v2H4zm4 5h12v2H8zm5 5h7v2h-7z"></path>
      </svg>
    </a>
    <a href="#" class="closeBtn">
      <svg
        class="menu__icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"
        ></path>
      </svg>
    </a>
  </nav>
</section>

<section id="sobre-nosotros">
  <h2 class="titulo">Sobre nosotros</h2>
  <div class="tarjetas tarjetas__container">
    <div class="card" style="width: 18rem">
      <img src="/assets/images/img1.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title titulo">Cortes a gusto</h5>
        <p class="card-text texto">
          Podés hacerte el corte
          <span class="focoAtencion">que más te guste</span>. Nosotros lo
          haremos realidad.
        </p>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img src="/assets/images/img2.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title titulo">Horarios flexibles</h5>
        <p class="card-text texto">
          <span class="focoAtencion">¿Cuándo necesitás un turno?</span> Podés
          elegir entre una gran variedad de horarios, según cuál te quede más
          cómodo.
        </p>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img src="/assets/images/img3.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title titulo">Ambiente amigable</h5>
        <p class="card-text texto">
          Vas a tener una
          <span class="focoAtencion">muy buena experiencia</span> mientras te
          cortás el pelo. Podemos disfrutar de una charla, escuchar música o
          simplemente gozar del silencio.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="servicios">
  <div class="servicios__container">
    <div class="servicios__descripcion">
      <h2 class="titulo">Nuestros servicios</h2>
      <p class="texto">
        En <span class="focoAtencion">Dario's Barbershop</span> ofrecemos
        diversos servicios a nuestros clientes, entre los cuales están:
      </p>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button collapsed ac__btn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            Corte de cabello
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body ac__body">
            Servicio de corte de cabello a gusto del cliente.
            <br />
            <br />
            <span class="costo">$500</span>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed ac__btn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Perfilado de barba
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body ac__body">
            Servicio de delineado de barba.<br />
            <span class="costo">$200</span> <br />
            <br />
            Degradé en barba: <br />
            <span class="costo">$500</span>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button
            class="accordion-button collapsed ac__btn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Perfilado de cejas
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body ac__body">
            Servicio de perfilado de cejas:<br />
            <span class="costo">$200</span>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button
            class="accordion-button collapsed ac__btn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            Limpieza de cutis
          </button>
        </h2>
        <div
          id="collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="headingFour"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body ac__body">
            Mascarilla facial:<br />
            <span class="costo">$200</span>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button
            class="accordion-button collapsed ac__btn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFive"
            aria-expanded="false"
            aria-controls="collapseFive"
          >
            Limpieza de oidos
          </button>
        </h2>
        <div
          id="collapseFive"
          class="accordion-collapse collapse"
          aria-labelledby="headingFive"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body ac__body">
            Depilación no definitiva de oidos:<br />
            <span class="costo">$150</span>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
          <button
            class="accordion-button collapsed ac__btn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSix"
            aria-expanded="false"
            aria-controls="collapseSix"
          >
            Limpieza nasal
          </button>
        </h2>
        <div
          id="collapseSix"
          class="accordion-collapse collapse"
          aria-labelledby="headingSix"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body ac__body">
            Depilación nasal no definitiva:<br />
            <span class="costo">$300</span>
          </div>
        </div>
      </div>
    </div>
    <div class="servicios__adicional">
      <h2 class="titulo">Info adicional</h2>
      <p class="texto">
        <span class="focoAtencion">Ubicación del local:</span> Bº Villa Unión,
        Calle Africa 1643.<br />
        <span class="focoAtencion">Formas de pago:</span> Podés pagar en
        efectivo o por transferencia bancaria.
      </p>
    </div>
  </div>
</section>

<section class="productos" id="productos">
  <div class="productos__container">
    <div class="productos__descripcion">
      <h2 class="titulo">Nuestros productos</h2>
      <p class="texto">
        En el local, vendemos varios productos que podrían ser de interés para
        vos.<br />
        <span>Algunos</span> de estos son:
      </p>
    </div>
    <div class="productos__tarjetas">
      <div class="productos__tarjeta">
        <div class="productos__imagen">
          <img src="/assets/images/minora plus.png" alt="" />
        </div>
        <div class="productos__descripcion">
          <h4 class="productos__titulo titulo">
            Maquinita de afeitar amarilla
          </h4>
        </div>
      </div>

      <div class="productos__tarjeta">
        <div class="productos__imagen">
          <img src="/assets/images/gillette-azul.png" alt="" />
        </div>
        <div class="productos__descripcion">
          <h4 class="productos__titulo titulo">Maquinita de afeitar azul</h4>
        </div>
      </div>

      <div class="productos__tarjeta">
        <div class="productos__imagen">
          <img src="/assets/images/gomina fuerte.png" alt="" />
        </div>
        <div class="productos__descripcion">
          <h4 class="productos__titulo titulo">Gel para el cabello</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <article id="contactanos">
    <h4>Contáctanos</h4>
    <nav>
      <a
        href="https://api.whatsapp.com/send/?phone=543517160480"
        target="_blank"
        >WhatsApp</a
      >
      <a href="https://www.instagram.com/bustos.dario/" target="_blank"
        >Instagram</a
      >
    </nav>
  </article>
  <p>&copy;2023 Dario's Barbershop · All rights reserved</p>
</footer>
