<div class="main">
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-transparent">
      <div class="container-fluid mt-5">
        <img src="assets/admin/images/logo-dark.png" alt="" height="30" />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link active text-white fs-3"
                aria-current="page"
                href="#"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fs-3" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fs-3" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fs-3" routerLink="/admin">Admin</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="text-white d-flex flex-column gap-5 mt-5">
      <div>
        <h1 class="text-white fw-bold">Where Mens Wants</h1>
        <h1 class="text-white fw-bold">To Look There Very Best.</h1>
      </div>
      <p class="fs-5">
        Welcome to Barber, where style meets precision! Our skilled barbers are
        dedicated to crafting the perfect look that suits your unique
        personality. Whether you prefer a classic cut or a modern style, we're
        here to transform your vision into reality. Book your appointment now
        and let us redefine your style journey at Barber.
      </p>
      <div>
        <button class="btn btn-lg btn-outline-primary">Appointment</button>
        <button class="btn btn-lg btn-outline-warning ms-5">Learn More</button>
      </div>
    </main>
    <footer class="position-absolute bottom-0">
      <p class="text-white text-center">
        <span>&copy;</span> Emre Yılmaz - The project will be developed, please
        consider it draft.
      </p>
    </footer>
  </div>
</div>
